:root {
  --ui-var-base-black: #000;
  --ui-var-base-white: #FFF;
  --ui-var-black-op-10: rgba(0, 0, 0, 10%);
  --ui-var-black-op-20: rgba(0, 0, 0, 20%);
  --ui-var-black-op-30: rgba(0, 0, 0, 30%);
  --ui-var-black-op-50: rgba(0, 0, 0, 50%);
  --ui-var-lightgray: #627B7A;
  --ui-var-gray: #C4C4C4;
  --ui-var-darkgreen: #2C3D39;
  --ui-var-green: #7AB10E;
  --ui-var-blue: #418AF2;
  --ui-var-red: #E61610;
}

$rocket-transition-timing-function: ease-in-out;
$rocket-transition-duration: 250ms;
$rocket-transition-delay: 0ms;
