@mixin transition(
    $prop: all,
    $duration: $rocket-transition-duration,
    $timing-function: $rocket-transition-timing-function,
    $delay: $rocket-transition-delay
) {
    transition: $prop $duration $timing-function $delay;
}


@mixin media($point: 320px, $type: min) {
    @if $type == min {
        @media (min-width: $point)  { @content; }
    } @else {
        @media (max-width: $point)  { @content; }
    }
    
}